@import "tailwindcss";

@theme {
  --breakpoint-sm: 370px
}



:root {

  --light-blue: #7dc7ee;
  --medium-blue: #4575b3;
  --deep-blue: #0d619f;
  --royal-blue: #022382;
  --navy-blue: #091c6b;

  font-family: Poppins, Avenir, Helvetica, Arial, Lato, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: black;
  /*background-color: #0c0f16;*/
  background-color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@utility container-shape {
  @apply h-120 w-full flex justify-center items-center
}

@utility flex-center {
  @apply flex justify-center items-center
}

@layer components {
  .nav-hover-mob{
    @apply hover:scale-[1.1]  text-[var(--royal-blue)] duration-300 ease-in-out font-bold border-b
  }

  .nav-desk {
    @apply border-t-2 hover:scale-[1.1] duration-300 ease-in-out text-center pt-1 
  }

  .card {
    @apply border lg:w-70 w-90 md:w-70 md:h-[300px] rounded-[15px] md:w-120 bg-white hover:scale-105 duration-300 ease-in-out p-10 mb-10 lg:mb-0 border-gray-500 border-2 shadow-md
  }
}

/*border w-90 m-auto md:w-70 md:h-100 rounded-[15px] md:h-120 md:w-120 bg-white hover:scale-105 duration-300 ease-in-out p-10 border-gray-500 border-2 shadow-md */

/*div 1 flex flex-col max-w-[100%] items-center h-[100%] md:h-[100%] lg:h-[100%] p-10 

div2 flex flex-col gap-10 max-w-100 lg:flex-row lg:jusn text-[14px]


name input w-full p-2 border border-blue-500 rounded hover:border-blue-900 duration-300 ease-in-out hover:scale-[1.05]


name sobrename container grid grid-cols-1 md:grid-cols-2 gap-4 mb-4


*/