@import "tailwindcss";


:root {
  font-family: Poppins, Avenir, Helvetica, Arial, Lato, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  margin: 0;
  padding: 0;
  color: black;
  /*background-color: #0c0f16;*/
  background-color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@utility container-shape {
  @apply h-120 w-full flex justify-center items-center
}

@utility flex-center {
  @apply flex justify-center items-center
}

@layer components {
  .nav-hover-mob{
    @apply hover:scale-[1.1] text-blue-900 duration-300 ease-in-out font-bold border-b
  }

  .nav-desk {
    @apply border-t-2 hover:scale-[1.1] duration-300 ease-in-out text-center pt-1 
  }

  .card {
    @apply bg-white w-95 border md:w-70 md:h-100 rounded-[15px] flex flex-col items-center gap-10 lg:h-120 lg:w-75 md:h-120 md:w-120 bg-white hover:scale-105 duration-300 ease-in-out p-10 border-gray-500 border-2 shadow-md lg:p-0 
  }
}